body{
    background-color: red;
}
p {
    color: green;
    font-size: 29px;
}

#test
{
    background-color: grey;
}

.text
{
    color: #CD853F;
    font-size: 42px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 900;
    background-color: #191970;
    width: 50%;
    height: 100px;
    border-color: deeppink;
    border-style: solid;
    border-width: 5px;


}